.exercise {
  display: flex;
  width: 480px;
  height: auto;
  margin: 20px auto 20px auto;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  justify-content: space-evenly;
  background: rgb(0 0 0 / 50%);
  color: white;
  border-radius: 10px;
}

.exercise h3,
.exercise p,
.editIcon {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.exercise:hover {
  background-color: #e5e1ea;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .exercise {
    width: 300px;
  }
}
