@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");


.header {
  display: flex;
  width: 100vw;
  background: rgb(0 0 0 / 60%);
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Lobster", cursive;
  color: white;
  border-bottom: 1px solid white;
}


.header__right {
  color: white;
  position: absolute;
  right: 4rem;
  top: 0.5rem;
  font-family: "Grandstander", cursive;
} 

.header__right button {
  border: none;
  border-radius: 7px;
  background-color: gray;
  color: white;
}


.header__right button:hover {
  background-color: #325aa8;
}
